@import "styles/general/media";

.wrap {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.forgot {
  display: inline-block;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--white);
  }
}

@include media("max", "sm") {
  .wrap {
    padding: 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: none;
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin: 0;
    padding: 24px 18px 48px 18px;
  }

  .forgot {
    display: inline-flex;
    flex-direction: column;
    align-self: flex-start;
  }
}
