@import "styles/general/media";

.wrap {
  margin-bottom: 40px;
}

.content {
  display: flex;
  align-items: flex-start;
}

.upload {
  width: 170px;
}

.info {
  max-width: 400px;
  margin-left: 60px;
  flex-basis: 43%;
}

.gender {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 140px));
  grid-column-gap: 60px;
}

@include media("max", "lg") {
  .content {
    display: grid;
    grid-template-columns: 170px 1fr;
    row-gap: 30px;
  }
}

@include media("max", "sm") {
  .content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .upload {
    width: 60%;
    min-width: 200px;
  }

  .info {
    margin-left: 0;
    max-width: none;
  }

  .gender {
    margin-left: 0;
  }
}

@include media("max", "xs") {
  .upload {
    width: 100%;
  }

  .delete {
    img {
      width: 20px;
      height: 20px;
    }
  }
}