.color {
  &-white {
    color: var(--white);
  }

  &-cyan-500 {
    color: var(--cyan-500);
  }

  &-orange-500 {
    color: var(--orange-500);
  }

  &-grey-600 {
    color: var(--grey-600);
  }
}
