@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir/AvenirLTStd-Book.eot');
  src: url('/fonts/avenir/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
  url('/fonts/avenir/AvenirLTStd-Book.woff2') format('woff2'),
  url('/fonts/avenir/AvenirLTStd-Book.woff') format('woff'),
  url('/fonts/avenir/AvenirLTStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir/AvenirLTStd-Roman.eot');
  src: url('/fonts/avenir/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
  url('/fonts/avenir/AvenirLTStd-Roman.woff2') format('woff2'),
  url('/fonts/avenir/AvenirLTStd-Roman.woff') format('woff'),
  url('/fonts/avenir/AvenirLTStd-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir/AvenirLTStd-Black.eot');
  src: url('/fonts/avenir/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
  url('/fonts/avenir/AvenirLTStd-Black.woff2') format('woff2'),
  url('/fonts/avenir/AvenirLTStd-Black.woff') format('woff'),
  url('/fonts/avenir/AvenirLTStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'New York Large';
  src: url('/fonts/new-york-large/NewYorkLarge-Black.eot');
  src: url('/fonts/new-york-large/NewYorkLarge-Black.eot?#iefix') format('embedded-opentype'),
  url('/fonts/new-york-large/NewYorkLarge-Black.woff2') format('woff2'),
  url('/fonts/new-york-large/NewYorkLarge-Black.woff') format('woff'),
  url('/fonts/new-york-large/NewYorkLarge-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New York Large';
  src: url('/fonts/new-york-large/NewYorkLarge-Medium.eot');
  src: url('/fonts/new-york-large/NewYorkLarge-Medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/new-york-large/NewYorkLarge-Medium.woff2') format('woff2'),
  url('/fonts/new-york-large/NewYorkLarge-Medium.woff') format('woff'),
  url('/fonts/new-york-large/NewYorkLarge-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New York Large';
  src: url('/fonts/new-york-large/NewYorkLarge-Bold.eot');
  src: url('/fonts/new-york-large/NewYorkLarge-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/new-york-large/NewYorkLarge-Bold.woff2') format('woff2'),
  url('/fonts/new-york-large/NewYorkLarge-Bold.woff') format('woff'),
  url('/fonts/new-york-large/NewYorkLarge-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New York Large';
  src: url('/fonts/new-york-large/NewYorkLarge-Regular.eot');
  src: url('/fonts/new-york-large/NewYorkLarge-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/new-york-large/NewYorkLarge-Regular.woff2') format('woff2'),
  url('/fonts/new-york-large/NewYorkLarge-Regular.woff') format('woff'),
  url('/fonts/new-york-large/NewYorkLarge-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New York Large';
  src: url('/fonts/new-york-large/NewYorkLarge-Semibold.eot');
  src: url('/fonts/new-york-large/NewYorkLarge-Semibold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/new-york-large/NewYorkLarge-Semibold.woff2') format('woff2'),
  url('/fonts/new-york-large/NewYorkLarge-Semibold.woff') format('woff'),
  url('/fonts/new-york-large/NewYorkLarge-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'New York Large';
  src: url('/fonts/new-york-large/NewYorkLarge-Heavy.eot');
  src: url('/fonts/new-york-large/NewYorkLarge-Heavy.eot?#iefix') format('embedded-opentype'),
  url('/fonts/new-york-large/NewYorkLarge-Heavy.woff2') format('woff2'),
  url('/fonts/new-york-large/NewYorkLarge-Heavy.woff') format('woff'),
  url('/fonts/new-york-large/NewYorkLarge-Heavy.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

