%pseudo {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background: #D8D6EE;
  width: 100%;
}

.title {
  padding: 13px 0 13px 16px;
  display: flex;
  position: relative;
  text-transform: uppercase;

  &::before {
    @extend %pseudo;
    top: 0;
  }

  &::after {
    @extend %pseudo;
    bottom: 0;
  }
}