.tabs {
  display: flex;
  align-items: flex-start;
}

.tab {
  margin-right: 60px;
  user-select: none;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--pink-300);
    border-radius: 2px;
    transition: .15s linear;
  }

  &--active {

    &:after {
      width: 100%;
    }
  }
}