.color {
  &-white {
    color: var(--white);
  }

  &-grey-200 {
    color: var(--grey-200);
  }

  &-grey-500 {
    color: var(--grey-500);
  }

  &-grey-600 {
    color: var(--grey-600);
  }

  &-gold-400 {
    color: var(--gold-400);
  }

  &-gold-500 {
    color: var(--gold-500);
  }

  &-gold-neutral-500 {
    color: var(--gold-neutral-500);
  }

  &-blue-700 {
    color: var(--blue-700);
  }

  &-blue-800 {
    color: var(--blue-800);
  }
}
