// - - - Gilroy - - - //
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-ExtraBold.eot');
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
  url('/fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff'),
  url('/fonts/Gilroy/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Heavy.eot');
  src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
  url('/fonts/Gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gilroy/Gilroy-Heavy.woff') format('woff'),
  url('/fonts/Gilroy/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-SemiBold.eot');
  src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
  url('/fonts/Gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gilroy/Gilroy-SemiBold.woff') format('woff'),
  url('/fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
  url('/fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gilroy/Gilroy-Light.woff') format('woff'),
  url('/fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
  url('/fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
  url('/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
  url('/fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
  url('/fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-UltraLight.eot');
  src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
  url('/fonts/Gilroy/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gilroy/Gilroy-UltraLight.woff') format('woff'),
  url('/fonts/Gilroy/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
  url('/fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
  url('/fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Thin.eot');
  src: local('Gilroy Thin'), local('Gilroy-Thin'),
  url('/fonts/Gilroy/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gilroy/Gilroy-Thin.woff') format('woff'),
  url('/fonts/Gilroy/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Black.eot');
  src: local('Gilroy Black'), local('Gilroy-Black'),
  url('/fonts/Gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gilroy/Gilroy-Black.woff') format('woff'),
  url('/fonts/Gilroy/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

// - - - Lato - - - //
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Black.eot');
  src: url('/fonts/Lato/Lato-Black.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Lato/Lato-Black.woff2') format('woff2'),
  url('/fonts/Lato/Lato-Black.woff') format('woff'),
  url('/fonts/Lato/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Regular.eot');
  src: url('/fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Lato/Lato-Regular.woff2') format('woff2'),
  url('/fonts/Lato/Lato-Regular.woff') format('woff'),
  url('/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Bold.eot');
  src: url('/fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Lato/Lato-Bold.woff2') format('woff2'),
  url('/fonts/Lato/Lato-Bold.woff') format('woff'),
  url('/fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Light.eot');
  src: url('/fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Lato/Lato-Light.woff2') format('woff2'),
  url('/fonts/Lato/Lato-Light.woff') format('woff'),
  url('/fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url('/fonts/Lato/Lato-Hairline.eot');
  src: url('/fonts/Lato/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Lato/Lato-Hairline.woff2') format('woff2'),
  url('/fonts/Lato/Lato-Hairline.woff') format('woff'),
  url('/fonts/Lato/Lato-Hairline.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
