.wrap {
  --color-border: var(--blue-200);
  --color-label: var(--blue-900);
  --bg-color-hover: var(--blue-50);
  --bg-color-dropdown: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &--dark {
    --color-border: var(--gold-400);
    --color-label: var(--grey-400);
  }

  &--full-width {
    width: 100%;
  }
}

.label {
  color: var(--color-label);
  margin-bottom: 2px;
}

.select {
  position: relative;
  display: inline-flex;

  &--full-width {
    width: 100%;
  }

  &--xs {
    width: 80px;
    min-width: 80px;
  }

  &--sm {
    width: 130px;
    min-width: 130px;
  }

  &--lg {
    width: 325px;
    min-width: 325px;
  }
}

.field {
  position: relative;
  display: block;
  width: 100%;
  height: 48px;
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  padding: 12px 32px 12px 16px;
  cursor: pointer;
  z-index: 2;

  &--error {
    border-color: var(--red-500);
  }
}

.chevron {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(90deg);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 300px;
  background-color: var(--bg-color-dropdown);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(69, 69, 69, 0.21);
  overflow-y: auto;
  z-index: 50;
  transition: .15s linear;

  &__row {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 42px;
    padding: 0 16px;
    border-radius: 10px;
    cursor: pointer;

    &--active,
    &:hover {
      background: var(--bg-color-hover);
    }
  }

  &__empty {
    width: 100%;
    height: 42px;
    line-height: 42px;
    padding: 0 16px;
  }
}

.error {
  min-height: 16px;
  color: var(--red-500);
  margin: 4px 0;
}
