@import "styles/general/media";

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.forgot {
  display: inline-block;
}

.img {
  display: none;
  flex-basis: 50%;
  flex-shrink: 0;
  img {
    width: 100%;
    object-fit: contain;
  }
}

@include media("max", "xl") {
  .img {
    display: block;
  }
}

@include media("max", "lg") {
  .img {
    display: none;
  }

  .wrap {
    justify-content: center;
  }

  .form {
    max-width: 475px;
  }
}