@import "styles/general/media";

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 70px;
}

@include media("max", "md") {
  .row {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
}

@include media("max", "sm") {
  .row {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
}