@import "styles/general/media";


.wrap {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.unread-count {
  background: var(--orange-700);
}

@include media("max", "sm") {
  .wrap {
    margin-bottom: 8px;
  }
}