@import "styles/general/media";

.link {
  position: relative;
  margin-right: 54px;

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--white);
    transform: translateX(-50%);
    transition: .1s linear;
  }

  &:hover:after {
    width: 100%;
  }
}


@include media("max", "md") {
  .link, .link-register, .link-signup {
    font-size: 14px;
  }

  .home-link {
    display: none;
  }

  .icon-button {
    img {
      min-width: 16px;
      min-height: 16px;
      width: 16px;
      height: 16px;
    }
  }
}

@include media("max", "sm"){
  .link, .link-register{
    margin-right: 16px;
  }
}