@import "styles/general/media";

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.no-results {
  max-width: 576px;
  margin: 0 auto;
  grid-column: 1/-1;

  &__underline {
    position: relative;
    box-decoration-break: slice;
    box-shadow: inset 0px -10px 0 var(--cyan-200);
    background-color: transparent;
  }
}

@include media("max", "md") {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include media("max", "sm") {
  .list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 11px;
  }
}