@import "styles/general/media";

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form {
  position: relative;
  z-index: 2;
}

.img {
  img {
    width: 100%;
  }
}

@include media("max", "lg") {
  .wrap {
    flex-direction: column;
    align-items: center;
  }
  .img {
    position: absolute;
    top: 0;
    opacity: 0.3;
  }
  .form {
    margin-top: 60px;
  }
}

@include media("max", "md") {
  .wrap {
    padding: 0;
  }
}

@include media("max", "sm") {
  .form {
    margin-top: 0;
    border-radius: 0;
    padding: 40px 0;
    max-width: none;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .img {
    display: none;
  }
}

